* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header{
    background-color: aqua;
    padding-top: 20px;
    padding-bottom: 4px;
}

.nav-bar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    background-color: #001aff;
}

.logo {
    width: 20%;
    padding: .5rem;
    border: 2px dashed black;
}

.link {
    border: 2px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.link a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 0 15px;
}

.link a:hover {
    text-decoration: underline;
}

.login {
    padding: .5rem;
    text-align: right;
    border: 2px dashed black;
    width: 20%;
}

.hero-content{
    background-color: #001aff;
    margin-top: 15px;
    padding: 50px 0;
}

.home-section {
    max-width: 900px;
    min-height: 350px;
    margin: auto;
    background-color: rgb(209, 134, 20);
    border: 2px dashed black;   
}

.background:first-of-type,
.background:nth-child(3) {
    background-color: rgb(240, 127, 255);
    padding: 35px;
}

.background:nth-child(2),
.background:last-of-type {
    background-color: #afafaf;
    padding: 35px;
}

.container{
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
}

.info-section {
    display: flex;
    background-color: rgb(246, 255, 127);
    border: 2px dashed red;
}

.img{
    width: 60%;
}

.description {
    border: 2px dashed red;
    width: 40%;
}

.download-section {
    min-height: 900px;
    background-color: chartreuse;
    border: 2px dashed red;
}

footer {
    background-color: #323640;
    padding-top: 15px;
}

.footer-col {
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    border: 2px dashed rgb(255, 3, 3);
    display: flex;
}
.col{
    background-color: turquoise;
    width: 15%;
    border: 2px dashed white;
}
.col-big {
    background-color: violet;
    display: flex;
    align-items: baseline;
    padding-top: 30px;
    flex-grow: 3;
}

hr{
    margin:40px 0;
}
.footer-section{
    background-color: cadetblue;
    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-section .logo{
    background-color: rgb(156, 110, 50); 
    border: 2px dashed black;
    width: auto;
    display: flex;
    align-items: center;
}

.footer-section .login{ 
    background-color: rgb(156, 110, 50); 
    border: 2px dashed black;
    width: auto;
}
